.retro_label {
    display: block;
    margin-bottom: 5px;
}
  
.retro_input {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 8px;
    margin-bottom: 15px;

    box-sizing: border-box;
}
  
.retro_input:focus {
    outline: none;
    border-color: #0ff;
}

.retro_range_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    & > div {
        flex: 1;
        margin-right: 10px;
    } 
    
    & > div:last-child {
        margin-right: 0;
    }
}