

.console {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  color: #fff;
  font-family: system-ui, sans-serif;  
  font-size: 0.8rem;

  

  .consoleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .consoleTitle {
      font-size: 1.5rem;
    }
  }
  .console_input {
    margin: 0;
  }
  .warningOrError {
    color: var(--color-error-text)
  }
  .commendOrHelp {
    color: var(--color-commend-text)
  }
  .consoleHistory {
    
    border: none;
    resize: vertical;
    box-sizing:content-box;
    overflow:auto;
    
    gap: 0.5rem;

  }
}