


.grid {
display: grid;
box-sizing: border-box;
grid-template-columns: 1fr 1fr;
grid-template-rows: repeat(auto-fill, minmax(22px, 1fr));
border-left: 1px solid rgba(196, 187, 187, 0.5);;
gap: 1px;
width: 50%;

}