.container {
    display:flex ;
    background-color: var(--color-data_background);
    color: var(--color-data_text);
    padding-right: 10px;
  }

  .active {
    background-color: var(--background-data_Select);
    color: var(--color-data_select);
  }