

.console {
  display: flex;
  flex-direction: column;
  margin: 0pt;
  padding: 5pt;
  height: 100%;
  width: 100%;
  background-color: var(--color-console-bg);
  color: #fff;
  font-family: system-ui, sans-serif;  
  font-size: 0.8rem;
  box-sizing: border-box;
  

  .toolBar {
    display: flex;
    flex-direction: row;
    background-color:transparent;
    padding-bottom: 1pt;
  }
  .console_input {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 8px;
    margin-bottom: 15px;
  
    box-sizing: border-box;
  }
  .console_input:focus {
    outline: none;
    border-color: #0ff;
  }

  .warningOrError {
    color: var(--color-error-text)
  }
  .commendOrHelp {
    color: var(--color-commend-text)
  }
  .consoleHistory {
    
    border: none;
    resize: vertical;
    box-sizing:content-box;
    overflow:auto;
    
    gap: 0.5rem;

  }
}

