.titleSection {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 100%;
}