

main {
  display: grid;
  position: absolute;
  grid-template-columns: 50px 1fr  6fr;
  grid-template-rows: 1fr;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  
  
}

.features {
  border: 1px solid rgba(196, 187, 187, 0.5);
}

.explorer {
  border: 1px solid rgba(196, 187, 187, 0.5);

}


.editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: 1px solid rgba(196, 187, 187, 0.5);
  overflow:auto
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;

}
.gridconfig {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  
  grid-template-columns: 50px 1fr 4fr;
 /*repetir filas hasta que se complete el espacio */
  grid-template-rows: repeat(auto-fill, minmax(22px, 1fr));
  
  gap: 1px;

}

.gridconfig2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  
  grid-template-columns: 1px 1fr 1fr;
 /*repetir filas hasta que se complete el espacio */
  grid-template-rows: repeat(auto-fill, minmax(22px, 1fr));
  
  gap: 1px;

}