



.gridTableHeader {
  color: white;

  position: sticky;
  top:0;  
}

.gridTableRowHeader {
  display: contents;

}

.gridTableCell {
  display:flex ;
  padding-right: 10px;
  overflow: hidden;
  height: 22px;
  
  .label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.gridTableCheckbox{
    color: white;
    font-size: 1rem;
    text-align: center;
    vertical-align: text-top;
    > input {
      cursor: pointer;
    }
    > input:disabled {
      cursor:default;
    }
}

.gridTableRow {
  display: contents;
  
}
.gridTableRow:hover div {
  background-color: rgb(68, 65, 65);
  color: white;
}
.gridtable {
    display: contents;
    font-family: system-ui;
    font-size:1rem;
    color: var(--color-data_text2);
    text-align: left;
    vertical-align: text-top;
    cursor: pointer;  
    
    

  }




  .select {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: turquoise;

    option {
      color: turquoise;
      background-color: rgb(13, 13, 14) ;
    }

  }

  
