



.gridTableHeader {
  color: white;

  position: sticky;
  top:0;  
}

.gridTableRowHeader {
  display: contents;

}

.gridTableCell {
  display:flex ;
  background-color: black;
  padding-right: 10px;
}

.gridTableCell .label {
  text-overflow: ellipsis;
}

.gridTableCheckbox{
    color: white;
    font-size: 1rem;
    text-align: center;
    vertical-align: text-top;
    cursor: pointer;
}

.gridTableRow {
  display: contents;
  
}
.gridTableRow:hover div {
  background-color: rgb(68, 65, 65);
  color: white;
}
.gridtable {
    display: contents;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1rem;
    color: rgb(32, 109, 42);
    text-align: left;
    vertical-align: text-top;
    cursor: pointer;  
    
    

  }

