.PanelSObjects {
  display: block;
  
  
  
    
 }

.PanelSObjectsFilter {
  display: inline-block;
  
  height: 10vh;

}

.PanelSObjectsList {
  display: grid;
  grid-auto-flow: row;
  overflow: hidden;
  gap: 1px;
  grid-template-columns: repeat(auto-fill,  minmax(250px, 1fr));
  font-family: monospace;
  color: var(--color-data_text);
  font-size: 1.1em;
}

.PanelSObjectItem {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}
.PanelSObjectItem:hover {
  background-color: #3f3f41;
  color: black;
  border-radius: 5px;
}